html, body {
  background: Seashell;
  font-family: sans-serif;
  padding-top: 2rem;
}

h1 {
  color: #9c2d3d;
}

a {
  text-decoration: none;
  color: #9c2d3d;
}

p {
  color: #da798c;
}


.container {
  max-width: 450px;
  margin: auto;
}
